$primary-color: #0650cb;
$secondary-color: #151515;
$font-color: #272727;
$placeholder: #606060;
$placeholder2: #606060;

$color-1: #0650cb;
$color-1-alt-1: #008ef2;
$color-1-alt-2: #00c6ff;
$color-1-alt-3: #0570e5;

$color-2: #151515;
$color-2-alt-1: #272727;
$color-2-alt-2: #333333;
$color-2-alt-3: #1c1c1c;

$color-3: #fff;
$color-3-alt-1: #f4f4f4;
$color-3-alt-2: #dbdbdb;
$color-3-alt-3: #8c8c8c;
$color-3-alt-4: #fafafa;
$color-3-alt-5: #f3f3f3;
$color-3-alt-6: #fcfcfc;
$color-3-alt-7: #c8c8c8;
$color-3-alt-8: #dadada;
$color-3-alt-9: #ececec;
$color-3-alt-10: #fafafa;
$color-3-alt-11: #bababa;
$color-3-alt-12: #979797;
$color-3-alt-13: #f5f5f5;

$color-4: #53c00b;

$color-5: #d30000;

$color-6: #ff3600;
$color-6-alt-1: #ce2c00;
